<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments :: head('Account Details')" />

<body>
  <div class="container-fluid">
    <div th:replace="fragments :: header-nav-bar" />
    <div>
      <h1>Account Details</h1>
      <a th:href="@{/}">Back to home page</a>
    </div>

    <div th:if="${message} != null">
      <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        [[${message}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <form th:action="@{/account/update}" method="POST" style="max-width: 700px; margin: 0 auto" th:object="${user}" enctype="multipart/form-data">
      <!-- hidden field for user id to edit and check email uniqueness -->
      <input type="hidden" th:field="*{id}" />

      <div class="border border-secondary rounded p-3">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input type="email" readonly class="form-control" th:field="*{email}" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">First name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{firstName}" required maxlength="128" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Last name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{lastName}" required maxlength="128" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" th:field="*{password}" minlength="8" maxlength="128" placeholder="Leave blank to keep old password" oninput="checkConfirmationPassword(document.getElementById('confirmationField'))" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Confirm Password</label>
          <div class="col-sm-8">
            <input id="confirmationField" type="password" class="form-control" minlength="8" maxlength="128" oninput="checkConfirmationPassword(this)" />
          </div>
        </div>

        <!-- roles are read only -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Assigned Roles</label>
          <div class="col-sm-8">
            <span style="font-weight: bold;">[[${user.roles}]]</span>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Photo</label>
          <div class="col-sm-8">
            <input type="hidden" th:field="*{photos}" />
            <input class="mb-2" type="file" accept="image/png image/jpeg" id="image-input" name="imageInput" />
            <br />
            <!-- user-photos/${id}/...png is under the management of ResourceHandler in MVC config -->
            <img th:src="@{'/' + ${user.photosPath}}" alt="User photo" id="thumbnail" />
          </div>
        </div>

        <div class="text-center">
          <input type="submit" value="Submit" class="btn btn-primary" />
          <input type="button" value="Cancel" class="btn btn-secondary" id="cancelBtn" />
        </div>

      </div>
    </form>

    <div class="modal fade text-center" id="modalDialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <span id="modalBody"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="fragments :: footer" />
  </div>
  <script type="text/javascript">
    moduleURL = "[[@{/users}]]"
    // dyanmic confirmation password
    function checkConfirmationPassword(confirmPassword) {
      if (confirmPassword.value != $("#password").val()) {
        confirmPassword.setCustomValidity("Password are not macthes");
      }
      else {
        confirmPassword.setCustomValidity("");
      }
    }
  </script>
  <script th:src="@{/js/common_form.js}"></script>
</body>

</html>