<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments :: head('Users Listing - Shopme Admin'), 'none'">

<body>
  <div class="container-fluid">
    <div th:replace="fragments :: header-nav-bar" />

    <div class="mb-2 ">
      <h1>Manage Users</h1>
      <a th:href="@{/users/new}" title="Create User" class="user-p">
        <i class="fas fa-user-plus fa-3x gray-icon" aria-hidden="true"></i>
      </a>
      &nbsp;&nbsp;
      <a th:href="@{/users/export/csv}" title="Export CSV File">
        <i class="fas fa-file-csv fa-3x gray-icon"></i>
      </a>
      &nbsp;&nbsp;
      <a th:href="@{/users/export/excel}" title="Export Excel File">
        <i class="fas fa-file-excel fa-3x gray-icon"></i>
      </a>
      &nbsp;&nbsp;
      <a th:href="@{/users/export/pdf}" title="Export PDF File">
        <i class="fas fa-file-pdf fa-3x gray-icon"></i>
      </a>
    </div>

    <!-- search form -->

    <div class="mb-2 ">
      <form th:action="@{/users/page/1}" class="form-inline" method="GET">
        <input type=hidden name="sortField" th:value="${sortField}" />
        <input type=hidden name="sortOrder" th:value="${sortOrder}" />
        Filter:&nbsp;
        <input class="form-control" type="search" name="keyWord" required />
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary fas fa-search"></button>
        &nbsp;&nbsp;
        <button type="button" onclick="clearFilter()" class="btn btn-secondary fas fa-eraser"></button>
      </form>
    </div>

    <div th:if="${message} != null">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        [[${message}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <!-- Large screen -->
    <div class="large-screen">
      <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th class="hideable-column">
              <!-- if the remove tag is 'tag', thymeleaf will delete the parent tag in the fragments.html code -->
              <th th:replace="fragments :: column-link('id', 'User ID', 'tag', '/users/')" />
            </th>
            <th>
              Photo
            </th>
            <th class="hideable-column">
              <th th:replace="fragments :: column-link('email', 'Email', 'tag', '/users/page/')" />
            </th>
            <th th:replace="fragments :: column-link('firstName', 'First Name', 'none', '/users/page/')" />
            <th th:replace="fragments :: column-link('lastName', 'Last Name', 'none', '/users/page/')" />
            <th>
              Roles
            </th>
            <th th:replace="fragments :: column-link('enabled', 'Enabled', 'none', '/users/page/')" />
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user: ${users}">
            <td class="hideable-column">[[${user.id}]]</td>
            <td class="text-center">
              <!-- this refer to the getter we set in the user enitity -->
              <!-- we use @transient so the Spring know the getter doesnt refer to any database field of user -->
              <img th:src="@{'/' + ${user.photosPath}}" />
            </td>
            <td class="hideable-column">[[${user.email}]]</td>
            <td>[[${user.firstName}]]</td>
            <td>[[${user.lastName}]]</td>
            <td>[[${user.roles}]]</td>
            <td class="text-center">
              <td th:replace="fragments::enabled-status(${user.enabled}, '/users/', ${user.id}, 'user')" />
            </td>
            <td class="d-flex justify-content-around">
              <a th:replace="fragments::edit('user', ${user.id}, '/users/')" />
              <a th:replace="fragments::delete('user', ${user.id}, '/users/')" />
            </td>
          </tr>
        </tbody>
      </table>

      <div th:replace="fragments::pagination('/users', 'users')"></div>
    </div>

    <!-- Small screen -->
    <div class="small-screen">
      <div th:each="user : ${users}" class="row m-1">
        <div class="col">
          <!-- this refer to the getter we set in the user enitity -->
          <!-- we use @transient so the Spring know the getter doesnt refer to any database field of user -->
          <img th:src="@{'/' + ${user.photosPath}}" style="width: 100px;" />
        </div>
        <div class="col">
          <div>[[${user.firstName + ' ' + user.lastName}]]</div>
          <div>[[${user.roles}]]</div>
          <div>
            <td th:replace="fragments::enabled-status(${user.enabled}, '/users/', ${user.id}, 'user')" />

            <a th:replace="fragments::edit('user', ${user.id}, '/users/')" />
            <a th:replace="fragments::delete('user', ${user.id}, '/users/')" />
          </div>
        </div>
      </div>

      <div class="text-center ">
        <span th:if="${totalItems} > 0">Showing users [[${start}]] to [[${end}]] of total [[${totalItems}]]</span>
        <span th:unless="${totalItems} > 0">No users found</span>
      </div>

      <div th:if="${totalItems} > 0" id="paginationSection">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center flex-wrap  ">
            <li class="page-item">
              <a th:replace="fragments::pagination-link('/users','1', 'First')" />
            </li>
            <li th:class="${currentPageNum == 1 ? 'page-item disabled' : 'page-item '}">
              <a th:replace="fragments::pagination-link('/users',${currentPageNum - 1}, 'Previous')" />
            </li>
            <!-- set dynamic class name -->
            <li th:class="${currentPageNum != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
              <a th:replace="fragments::pagination-link('/users',${i}, ${i})" />
            </li>
            <li th:class="${currentPageNum == totalPages ? 'page-item disabled' : 'page-item '}">
              <a th:replace="fragments::pagination-link('/users',${currentPageNum + 1}, 'Next')" />
            </li>
            <li class="page-item">
              <a th:replace="fragments::pagination-link('/users',${totalPages}, 'Last')" />
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Modal -->

    <div class="modal fade text-center" id="modalConfirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmTitle">Delete</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <span id="confirmBody">Are you sure to delete this user ?</span>
          </div>
          <div class="modal-footer">
            <a class="btn btn-success" href="" id="confirm-link">Yes</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>


    <div th:replace="fragments :: footer" />
  </div>
  <script>
    $(document).ready(() => {
      $(".delete-link").on('click', function (e) {
        e.preventDefault();
        url = $(this).attr("href");
        userId = $(this).attr("deleteId")
        $("#confirm-link").attr("href", url)
        $("#confirmBody").text(`Are you sure you want to delete user ${userId} ?`);
        $("#modalConfirm").modal();
      });


    });

    function clearFilter() {
      window.location = "[[@{/users}]]"
    }
  </script>
</body>

</html>