<!DOCTYPE html>
<html lang="en">

<head th:fragment="head(title)">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <!-- use thymeleaf to use the relative path of the application  -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/fontawsome/all.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
  <!-- common.js -->
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
  <title>[[${title}]]</title>
</head>

<body>

  <!-- if removeTag == "tag", thymeleaf will delete the parent <th> tag, which is the <th> tag below, and use the our parent tag with class "hideable-column" which we defined in users.html-->
  <th th:fragment="column-link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
    <span th:if="${sortField == fieldName}" th:class="${sortOrder == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
    <!-- if the col is first time clicked for sorting, the default is asc, else keep reversing it -->
    <a class="text-white" th:href="@{'/users/page/' + ${currentPageNum} + '?sortField=' + ${fieldName} + '&sortOrder='+ ${sortField != fieldName ? 'asc' : reverseSortOrder} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">[[${columnLabel}]]</a>
  </th>

  <a th:fragment="pagination-link(pageNum, label)" class="page-link" th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">
    <!-- using fragments -->
    [[${label}]]
  </a>

  <!-- nav bar - header section -->

  <div th:fragment="header-nav-bar">
    <!-- set the hdden form to get the csrf token -->
    <form th:action="@{/logout}" method="POST" th:hidden="true" name="logoutForm">
      <input type="submit" />
    </form>

    <nav class="navbar navbar-expand-lg back bg-dark navbar-dark">
      <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/images/ShopmeAdminSmall.png}" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav">
          <!-- only admin can see this -->
          <li class="nav-item" sec:authorize="hasAuthority('Admin')">
            <a class="nav-link" th:href="@{/users}">Users</a>
          </li>

          <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
            <a class=" nav-link" th:href="@{/categories}">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/brands}">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/products}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/customers}">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/shipping}">Shipping</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/orders}">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/report}">Sales Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/articles}">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/menu}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/settings}">Settings</a>
          </li>

          <li class="nav-item">
            <i class="fa fa-user fa-2x"></i>
          </li>
          <li class="nav-item dropdown">
            <!-- get the username by the getUsername() in ShopmeUserDetails -->
            <!-- we can get any getter in ShopmeUserDetails -->
            <a class="nav-link dropdown-toggle username-link" th:href="@{/account}" data-toggle="dropdown" sec:authentication="principal.fullname"></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" id="logoutLink" th:href="@{/logout}">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div th:fragment="footer" class="text-center m-5">
    <p>Shopme Controler Panel - Powered by VuKhoa23</p>
  </div>
</body>

</html>