<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- frangment file: fragments.html -->

<!-- fragments refer to the fragments.html -->

<head th:replace="fragments :: head('Home - Shopme Admin')" />

<body>
  <div class="container-fluid">
    <div th:replace="fragments :: header-nav-bar" />
    <div>
      <h1>Control panel home page</h1>
      <div class="alert alert-primary">Nothing here yet</div>
    </div>

    <div th:replace="fragments :: footer" />
  </div>
</body>

</html>