<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments :: head('Login - Shopme Admin', 'none')" />

<body>
  <div class="container-fluid text-center ">
    <!-- Show the error -->
    <img th:src="@{/images/ShopmeAdminBig.png}" />
    <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show text-center mb-2" role="alert" style="max-width: 400px; margin: 0 auto;">
      [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
      <button type=" button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- show logout log -->
    <div th:if="${param.logout}" class="alert alert-info alert-dismissible fade show text-center mb-2" role="alert" style="max-width: 400px; margin: 0 auto;">
      You have been logged out
      <button type=" button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form th:action="@{/login}" method="POST" style="max-width: 400px; margin: 0 auto;">
      <div class="border border-secondary rounded p-2">
        <p>Login to Shopme Control Panel</p>
        <p>
          <input type="email" name="email" class="form-control" required placeholder="Email" />
        </p>
        <p>
          <input type="password" name="password" class="form-control" required placeholder="Password" />
        </p>
        <p>
          <!-- set name="remember-me" so SpringSecurity can regconize the remember me action  -->
          <input type="checkbox" name="remember-me" />&nbsp; Remember me (Keep me logeed in)
        </p>
        <p>
          <input type="submit" value="Login" class="btn btn-primary " />
        </p>
      </div>
    </form>
    <div class="text-center">
      <p>Shopme - Powered by VuKhoa23</p>
    </div>
  </div>
</body>

</html>