<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <!-- use thymeleaf to use the relative path of the application  -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/fontawsome/all.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
  <title>Users - Admin</title>
</head>

<body>
  <div class="container-fluid">
    <div>
      <nav class="navbar navbar-expand-lg back bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/}">
          <img th:src="@{/images/ShopmeAdminSmall.png}" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/categories}">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/brands}">Brands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/products}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/customers}">Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/shipping}">Shipping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/orders}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/report}">Sales Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/articles}">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/menu}">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/settings}">Settings</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="mb-2 ">
      <h1>Manage Users</h1>
      <a th:href="@{/users/new}" title="Create User" class="user-p">
        <i class="fas fa-user-plus fa-3x gray-icon" aria-hidden="true"></i>
      </a>
      &nbsp;&nbsp;
      <a th:href="@{/users/export/csv}" title="Export CSV File">
        <i class="fas fa-file-csv fa-3x gray-icon"></i>
      </a>
      &nbsp;&nbsp;
      <a th:href="@{/users/export/excel}" title="Export Excel File">
        <i class="fas fa-file-excel fa-3x gray-icon"></i>
      </a>
      &nbsp;&nbsp;
      <a th:href="@{/users/export/pdf}" title="Export PDF File">
        <i class="fas fa-file-pdf fa-3x gray-icon"></i>
      </a>
    </div>

    <!-- search form -->

    <div class="mb-2 ">
      <form th:action="@{/users/page/1}" class="form-inline" method="GET">
        <input type=hidden name="sortField" th:value="${sortField}" />
        <input type=hidden name="sortOrder" th:value="${sortOrder}" />
        Filter:&nbsp;
        <input class="form-control" type="search" name="keyWord" required />
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary fas fa-search"></button>
        &nbsp;&nbsp;
        <button type="button" onclick="clearFilter()" class="btn btn-secondary fas fa-eraser"></button>
      </form>
    </div>

    <div th:if="${message} != null">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        [[${message}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <!-- Large screen -->
    <div class="large-screen">
      <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th class="hideable-column">
              <!-- if the remove tag is 'tag', thymeleaf will delete the parent tag in the fragments.html code -->
              <th th:replace="fragments :: column-link('id', 'User ID', 'tag')" />
            </th>
            <th>
              Photo
            </th>
            <th class="hideable-column">
              <th th:replace="fragments :: column-link('email', 'Email', 'tag')" />
            </th>
            <th th:replace="fragments :: column-link('firstName', 'First Name', 'none')" />
            <th th:replace="fragments :: column-link('lastName', 'Last Name', 'none')" />
            <th>
              Roles
            </th>
            <th th:replace="fragments :: column-link('enabled', 'Enabled', 'none')" />
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user: ${users}">
            <td class="hideable-column">[[${user.id}]]</td>
            <td class="text-center">
              <!-- this refer to the getter we set in the user enitity -->
              <!-- we use @transient so the Spring know the getter doesnt refer to any database field of user -->
              <img th:src="@{'/' + ${user.photosPath}}" />
            </td>
            <td class="hideable-column">[[${user.email}]]</td>
            <td>[[${user.firstName}]]</td>
            <td>[[${user.lastName}]]</td>
            <td>[[${user.roles}]]</td>
            <td class="text-center">
              <a th:if="${user.enabled}==true" th:href="@{'/users/' + ${user.id} + '/enabled/false'}" class="fa fa-check-circle green-icon" aria-hidden="true" title="Disable user"></a>
              <a th:if="${user.enabled}==false" th:href="@{'/users/' + ${user.id} + '/enabled/true'}" class="fa fa-check-circle gray-icon" aria-hidden="true" title="Enable user"></a>
            </td>
            <td class="d-flex justify-content-around">
              <a th:href="@{'/users/edit/' + ${user.id}}">
                <i class="fas fa-edit fa-2x green-icon"></i>
              </a>
              <a class="delete-link" th:href="@{'/users/delete/' + ${user.id}}" th:userid="${user.id}">
                <i class="fas fa-trash fa-2x red-icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-center ">
        <span th:if="${totalItems} > 0">Showing users [[${start}]] to [[${end}]] of total [[${totalItems}]]</span>
        <span th:unless="${totalItems} > 0">No users found</span>
      </div>

      <div th:if="${totalItems} > 0" id="paginationSection">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center  ">
            <li class="page-item">
              <a th:replace="fragments::pagination-link('1', 'First')" />
            </li>
            <li th:class="${currentPageNum == 1 ? 'page-item disabled' : 'page-item '}">
              <a th:replace="fragments::pagination-link(${currentPageNum - 1}, 'Previous')" />
            </li>
            <!-- set dynamic class name -->
            <li th:class="${currentPageNum != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
              <a th:replace="fragments::pagination-link(${i}, ${i})" />
            </li>
            <li th:class="${currentPageNum == totalPages ? 'page-item disabled' : 'page-item '}">
              <a th:replace="fragments::pagination-link(${currentPageNum + 1}, 'Next')" />
            </li>
            <li class="page-item">
              <a th:replace="fragments::pagination-link(${totalPages}, 'Last')" />
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Small screen -->
    <div class="small-screen">
      <div th:each="user : ${users}" class="row m-1">
        <div class="col">
          <!-- this refer to the getter we set in the user enitity -->
          <!-- we use @transient so the Spring know the getter doesnt refer to any database field of user -->
          <img th:src="@{'/' + ${user.photosPath}}" style="width: 100px;" />
        </div>
        <div class="col">
          <div>[[${user.firstName + ' ' + user.lastName}]]</div>
          <div>[[${user.roles}]]</div>
          <div>
            <a th:if="${user.enabled}==true" th:href="@{'/users/' + ${user.id} + '/enabled/false'}" class="fa fa-check-circle green-icon" aria-hidden="true" title="Disable user"></a>
            <a th:if="${user.enabled}==false" th:href="@{'/users/' + ${user.id} + '/enabled/true'}" class="fa fa-check-circle gray-icon" aria-hidden="true" title="Enable user"></a>

            <a th:href="@{'/users/edit/' + ${user.id}}">
              <i class="fas fa-edit fa-2x green-icon"></i>
            </a>
            <a class="delete-link" th:href="@{'/users/delete/' + ${user.id}}" th:userid="${user.id}">
              <i class="fas fa-trash fa-2x red-icon"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="text-center ">
        <span th:if="${totalItems} > 0">Showing users [[${start}]] to [[${end}]] of total [[${totalItems}]]</span>
        <span th:unless="${totalItems} > 0">No users found</span>
      </div>

      <div th:if="${totalItems} > 0" id="paginationSection">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center flex-wrap  ">
            <li class="page-item">
              <a th:replace="fragments::pagination-link('1', 'First')" />
            </li>
            <li th:class="${currentPageNum == 1 ? 'page-item disabled' : 'page-item '}">
              <a th:replace="fragments::pagination-link(${currentPageNum - 1}, 'Previous')" />
            </li>
            <!-- set dynamic class name -->
            <li th:class="${currentPageNum != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
              <a th:replace="fragments::pagination-link(${i}, ${i})" />
            </li>
            <li th:class="${currentPageNum == totalPages ? 'page-item disabled' : 'page-item '}">
              <a th:replace="fragments::pagination-link(${currentPageNum + 1}, 'Next')" />
            </li>
            <li class="page-item">
              <a th:replace="fragments::pagination-link(${totalPages}, 'Last')" />
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Modal -->

    <div class="modal fade text-center" id="modalConfirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmTitle">Delete</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <span id="confirmBody">Are you sure to delete this user ?</span>
          </div>
          <div class="modal-footer">
            <a class="btn btn-success" href="" id="confirm-link">Yes</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>


    <div class="text-center">
      <p>Shopme Controler Panel - Powered by VuKhoa23</p>
    </div>
  </div>
  <script>
    $(document).ready(() => {
      $(".delete-link").on('click', function (e) {
        e.preventDefault();
        url = $(this).attr("href");
        userId = $(this).attr("userid")
        $("#confirm-link").attr("href", url)
        $("#confirmBody").text(`Are you sure you want to delete user ${userId} ?`);
        $("#modalConfirm").modal();
      });


    });

    function clearFilter() {
      window.location = "[[@{/users}]]"
    }
  </script>
</body>

</html>