<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <!-- use thymeleaf to use the relative path of the application  -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <title>Users - Admin</title>
</head>
<body>
  <div class="container-fluid">
    <div>
      <h1>Manage Users</h1>
      <div class="alert alert-primary">Nothing here yet</div>
    </div>
    
    <div>
      <p>Shopme Controler Panel - Powered by VuKhoa23</p>
    </div>
  </div>
</body>
</html>