<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <!-- use thymeleaf to use the relative path of the application  -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/fontawsome/all.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
  <title>Users - Admin</title>
</head>

<body>
  <div class="container-fluid">
    <div>
      <h1>Manage Users</h1>
      <a th:href="@{/users/new}">Create new User</a>
    </div>
    <div th:if="${message} != null">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        [[${message}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th>User ID</th>
          <th>Photo</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Roles</th>
          <th>Enabled</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user: ${users}">
          <td>[[${user.id}]]</td>
          <td class="text-center"><i class="fas fa-portrait fa-2x gray-icon"></i></td>
          <td>[[${user.email}]]</td>
          <td>[[${user.firstName}]]</td>
          <td>[[${user.lastName}]]</td>
          <td>[[${user.roles}]]</td>
          <td class="text-center">
            <i th:if="${user.enabled}==true" class="fa fa-check-circle green-icon" aria-hidden="true"></i>
            <i th:if="${user.enabled}==false" class="fa fa-check-circle gray-icon" aria-hidden="true"></i>
          </td>
          <td class="d-flex justify-content-around">
            <a th:href="@{'/users/edit/' + ${user.id}}">
              <i class="fas fa-edit fa-2x green-icon"></i>
            </a>
            <a href="#">
              <i class="fas fa-trash fa-2x red-icon"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="text-center">
      <p>Shopme Controler Panel - Powered by VuKhoa23</p>
    </div>
  </div>
</body>

</html>