<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments :: head(${pageTitle})" />

<body>
  <div class="container-fluid">
    <div>
      <h1>Manage Categories | [[${pageTitle}]]</h1>
      <a th:href="@{/categories}">Back to categories listing</a>
    </div>

    <form th:action="@{/categories/save}" method="POST" style="max-width: 700px; margin: 0 auto" th:object="${category}" enctype="multipart/form-data" onsubmit="return checkUnique(this)">
      <input type="hidden" th:field="*{id}" />

      <div class="border border-secondary rounded p-3">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{name}" required maxlength="128" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Alias</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{alias}" required maxlength="64" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Enabled</label>
          <div class="col-sm-8">
            <input type="checkbox" th:field="*{enabled}" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Parent category</label>
          <div class="col-sm-8">
            <select class="form-control" th:field="*{parent}">
              <option value="0">No Parent</option>

              <th:block th:each="cate : ${categories}">
                <option th:value="${cate.id}">[[${cate.name}]]</option>
              </th:block>

            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Category image</label>
          <div class="col-sm-8">
            <input type="hidden" th:field="*{image}" />
            <input class="mb-2" type="file" accept="image/png image/jpeg" id="image-input" name="imageInput" />
            <br />
            <!-- user-photos/${id}/...png is under the management of ResourceHandler in MVC config -->
            <img th:src="@{${category.imagePath}}" alt="Category photo" id="thumbnail" />
          </div>
        </div>

        <div class="text-center">
          <input type="submit" value="Submit" class="btn btn-primary" />
          <input type="button" value="Cancel" class="btn btn-secondary" id="cancelBtn" />
        </div>

      </div>
    </form>

    <div class="modal fade text-center" id="modalDialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <span id="modalBody"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="fragments :: footer" />
  </div>
  <script type="text/javascript">
    $(document).ready(function () {

    })

    function showModalDialog(title, message) {
      $("#modalTitle").text(title);
      $("#modalBody").text(message);
      $("#modalDialog").modal();
    }

    function checkUnique(form) {
      cateId = $("#id").val();
      cateName = $("#name").val();
      cateAlias = $("#alias").val();
      csrf_token = $("input[name='_csrf']").val();

      url = "[[@{/categories/check-unique}]]";

      params = { id: cateId, name: cateName, alias: cateAlias, _csrf: csrf_token };


      $.post(url, params, (response) => {
        if (response === "OK") {
          form.submit();
        } else {
          showModalDialog("Warn", response);
        }
      }).fail(function () {
        alert('failed')
      })

      return false;

    }

    // global variable that will be directed to when click the cancel button
    moduleURL = "[[@{/categories}]]"
  </script>
  <!-- common js file for validate image size and cancel button handle event -->
  <script th:src="@{/js/common_form.js}"></script>

</body>

</html>