<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments :: head('Categories Listing - Shopme Admin')">

<body>
  <div class="container-fluid">
    <div th:replace="fragments :: header-nav-bar" />

    <div class="mb-2 ">
      <h1>Manage Categories</h1>
      <a th:href="@{/categories/new}" title="Create Category" class="user-p">
        <i class="fas fa-folder-plus fa-3x gray-icon" aria-hidden="true"></i>
      </a>
      &nbsp;&nbsp;
      <a th:href="@{/categories/export/csv}" title="Export CSV File">
        <i class="fas fa-file-csv fa-3x gray-icon"></i>
      </a>
    </div>

    <!-- search form -->

    <div class="mb-2 ">
      <form th:action="@{/categories/page/1}" class="form-inline" method="GET">
        <input type=hidden name="sortField" th:value="${sortField}" />
        <input type=hidden name="sortOrder" th:value="${sortOrder}" />
        Filter:&nbsp;
        <input class="form-control" type="search" name="keyWord" required />
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary fas fa-search"></button>
        &nbsp;&nbsp;
        <button type="button" onclick="clearFilter()" class="btn btn-secondary fas fa-eraser"></button>
      </form>
    </div>

    <div th:if="${message} != null">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        [[${message}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <!-- Large screen -->
    <div class="categories-large-screen">
      <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Category Image</th>
            <th th:replace="fragments :: column-link('name', 'Categories name', 'none', '/categories/page/')" />
            <th>Alias</th>
            <th>Enabled</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="category: ${categories}">
            <td>[[${category.id}]]</td>
            <td>
              <img th:src="@{${category.imagePath}}" />
            </td>
            <td>[[${category.name}]]</td>
            <td>[[${category.alias}]]</td>
            <td class="text-center">
              <td th:replace="fragments::enabled-status(${category.enabled}, '/categories/', ${category.id}, 'category')" />
            </td>
            <td class="d-flex justify-content-around">
              <a th:replace="fragments::edit('category', ${category.id}, '/categories/')" />
              <a th:replace="fragments::delete('category', ${category.id}, '/categories/')" />
            </td>
          </tr>
        </tbody>
      </table>

      <div th:if="${keyWord == null}">
        <div th:replace="fragments::pagination('/categories', 'root categories')"></div>
      </div>
      <div th:if="${keyWord != null}">
        <div th:replace="fragments::pagination('/categories', 'found categories')"></div>
        <p class="text-center ">Found categories will not be listed in tree structure</p>
      </div>

    </div>

    <div class="categories-medium-screen">
      <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Category Image</th>
            <th>
              <span th:class="${sortOrder == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
              <a class="text-white" th:href="@{'/categories/page/' + ${currentPageNum} + '?sortOrder=' + ${reverseOrder} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Category Name</a>
            </th>
            <th>Enabled</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="category: ${categories}">
            <td>[[${category.id}]]</td>
            <td>
              <img th:src="@{${category.imagePath}}" />
            </td>
            <td>[[${category.name}]]</td>
            <td class="text-center">
              <td th:replace="fragments::enabled-status(${category.enabled}, '/categories/', ${category.id}, 'category')" />
            </td>
            <td class="d-flex justify-content-around">
              <a th:href="@{'/categories/edit/' + ${category.id}}">
                <i class="fas fa-edit fa-2x green-icon"></i>
              </a>
              <a class="delete-link" th:href="@{'/categories/delete/' + ${category.id}}" th:categoryId="${category.id}">
                <i class="fas fa-trash fa-2x red-icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <div th:if="${keyWord == null}">
        <div th:replace="fragments::pagination('/categories', 'root categories')"></div>
      </div>
      <div th:if="${keyWord != null}">
        <div th:replace="fragments::pagination('/categories', 'found categories')"></div>
        <p class="text-center ">Found categories will not be listed in tree structure</p>
      </div>

    </div>

    <div class="categories-small-screen">
      <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th>Category Image</th>
            <th>
              <span th:class="${sortOrder == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
              <a class="text-white" th:href="@{'/categories/page/' + ${currentPageNum} + '?sortOrder=' + ${reverseOrder} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}"> Sort Category Name</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="category: ${categories}">
            <td>
              <img style="width: 100px;" th:src="@{${category.imagePath}}" />
            </td>
            <td class="text-center">

              <p>[[${category.name}]]</p>
              <td th:replace="fragments::enabled-status(${category.enabled}, '/categories/', ${category.id}, 'category')" />

              <a th:href="@{'/categories/edit/' + ${category.id}}">
                <i class="fas fa-edit fa-2x green-icon"></i>
              </a>
              <a class="delete-link" th:href="@{'/categories/delete/' + ${category.id}}" th:categoryId="${category.id}">
                <i class="fas fa-trash fa-2x red-icon"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <div th:if="${keyWord == null}">
        <div th:replace="fragments::pagination('/categories', 'root categories')"></div>
      </div>
      <div th:if="${keyWord != null}">
        <div th:replace="fragments::pagination('/categories', 'found categories')"></div>
        <p class="text-center ">Found categories will not be listed in tree structure</p>
      </div>

    </div>


    <!-- Modal -->

    <div class="modal fade text-center" id="modalConfirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmTitle">Delete</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <span id="confirmBody">Are you sure to delete this category ?</span>
          </div>
          <div class="modal-footer">
            <a class="btn btn-success" href="" id="confirm-link">Yes</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>


    <div th:replace="fragments :: footer" />
  </div>
  <script>
    $(document).ready(() => {
      $(".delete-link").on('click', function (e) {
        e.preventDefault();
        url = $(this).attr("href");
        categoryId = $(this).attr("deleteId")
        $("#confirm-link").attr("href", url)
        $("#confirmBody").text(`Are you sure you want to delete category ${categoryId} ?`);
        $("#modalConfirm").modal();
      });


    });

    function clearFilter() {
      window.location = "[[@{/categories}]]"
    }
  </script>
</body>

</html>